[user]
	name = s1n
	email = jswitzer@gmail.com

[alias]
    ci = commit
    co = clone
    stat = status

[diff]
    color = auto

[pager]
    color = true

[status]
    color = auto

[github]
	user = s1n
